/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/unicafe/src/tests/__pycache__
/laskarit/viikko2/unicafe/src/__pycache__
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
/RailwayDesigner/.pytest_cache
/RailwayDesigner/src/tests/__pycache__
/RailwayDesigner/src/__pycache__
/RailwayDesigner/.coverage
/RailwayDesigner/htmlcov
/RailwayDesigner/.coveragerc
/RailwayDesigner/.pylintrc
